<h4>Edit Album</h4>
<label>New Album Title:</label>
<input [(ngModel)]="selectedAlbum.title">
<br>
<label>New Album Artist:</label>
<input [(ngModel)]="selectedAlbum.artist">
<br>
<label>New Album Description:</label>
<input [(ngModel)]="selectedAlbum.description">
<button (click)="beginUpdatingAlbum(selectedAlbum)">Update</button>

<form ng-submit="uploadFile()">
  <input type="file" name="file" class="input-img" id="image-input" accept="image/*">
  <hr>

</form>
<hr>
<button (click)="beginDeletingAlbum(selectedAlbum)">Delete</button>
